APP_NAME=pykata
APP_ENV=dev
LOG_LEVEL=INFO
DEBUG=true

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
AWS_S3_ENDPOINT=http://s3.localhost.localstack.cloud:4566

DYNAMODB_TABLE_NAME=kata
S3_BUCKET_NAME=kata-code

LAMBDA_TIMEOUT=10
EXECUTION_TIMEOUT=300

LOCALSTACK_SERVICES=s3,lambda,dynamodb,apigateway,iam,sqs,sns,cloudwatch,logs
LOCALSTACK_DEBUG=1
LOCALSTACK_LAMBDA_EXECUTOR=docker
LOCALSTACK_DEFAULT_REGION=${AWS_DEFAULT_REGION}
LOCALSTACK_ENDPOINT=${AWS_ENDPOINT}
LOCALSTACK_S3_ENDPOINT=${AWS_S3_ENDPOINT}

TF_VAR_project_name=${APP_NAME}
TF_VAR_environment=${APP_ENV}
TF_VAR_access_key=${AWS_ACCESS_KEY_ID}
TF_VAR_secret_key=${AWS_SECRET_ACCESS_KEY}
TF_VAR_aws_region=${AWS_DEFAULT_REGION}
TF_VAR_aws_endpoint=${LOCALSTACK_ENDPOINT}
TF_VAR_aws_s3_localstack_endpoint=${LOCALSTACK_S3_ENDPOINT}
TF_VAR_lambda_timeout=${LAMBDA_TIMEOUT}
TF_VAR_execution_timeout=${EXECUTION_TIMEOUT}
TF_VAR_dynamodb_table_name=${DYNAMODB_TABLE_NAME}
TF_VAR_s3_bucket_name=${S3_BUCKET_NAME}
